@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.6;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide .content {
    position: absolute;
    bottom: 70px;
    left: -600px;
    width: 600px;
    opacity: 0;
    background-color: rgba(255,255,255, 0.8);
    color: #333;
    padding: 35px;    
}

.slide content h1 {
    margin-bottom: 10px;
}

.slide.current .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
    transition: 0.3s
}

.buttons button:hover {
    background-color: #fff;
    color: #333;
}

@media(max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slide.current .content {
        transform: translateY(-300px);
    }
}

.slide:first-child {
    background: url("https://images.pexels.com/photos/2093322/pexels-photo-2093322.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}

.slide:nth-child(2) {
    background: url("https://images.pexels.com/photos/2069328/pexels-photo-2069328.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}

.slide:nth-child(3) {
    background: url("https://images.pexels.com/photos/1852247/pexels-photo-1852247.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}

.slide:nth-child(4) {
    background: url("https://images.pexels.com/photos/2073623/pexels-photo-2073623.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}

.slide:nth-child(5) {
    background: url("https://images.pexels.com/photos/2076968/pexels-photo-2076968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}

.slide:last-child {
    background: url("https://images.pexels.com/photos/2066207/pexels-photo-2066207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}
